# yarn v2
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# unrelated directories
.github
.vscode
db
dist

# exclude .env file (will be provided as an argument to docker run command)
.env